@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Raleway:wght@700&display=swap");
/* css variables */
:root {
  --blue: #2f80ed;
  --white: #ffffff;
  --black: #000000;
  --gray: #333333;
  --gray1: #bdbdbd;
  --gray2: #a9a9a9;
  --gray3: #828282;
  --orange: #eb5757;
  --font-body: "Montserrat", sans-serif;
  --font-heading: "Raleway", sans-serif;
  --root-font: 62.5%;
  --base-font: 1.8rem;
  --base-line-height: 2.2rem;
  --base-font-weight: 500;
  --heading1-font: 3.6rem;
  --heading1-line-height: 4.2rem;
  --border-radius: 1.2rem;
}

html {
  font-size: var(--root-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--base-font);
  line-height: var(--base-line-height);
  font-family: var(--font-body);
  font-weight: var(--base-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: bold;
}

h1 {
  font-size: var(--heading1-font);
  line-height: var(--heading1-line-height);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

ul {
  list-style-type: none;
}
.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.add-todo-form {
  display: flex;
}

.add-todo-form input {
  flex: 1;
  margin-right: 2.5rem;
}
/*** form css ****/
input[type="text"] {
  border: 1px solid var(--gray1);
  border-radius: var(--border-radius);
  padding: 2rem 1.2rem;
}

.btn {
  box-shadow: 0px 2px 6px 0px #7fb1f366;
  border-radius: var(--border-radius);
  padding: 2rem 4rem;
  cursor: pointer;
  border: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.btn.btn-primary {
  background: var(--blue);
  color: var(--white);
}

.btn.btn-primary:hover {
}

/*** to do list ***/
.todo-list {
  text-align: left;
  list-style-type: none;
  margin-top: 3.3rem;
}
.todo-list li {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.todo-list li .delete {
  border: 0;
  background: none;
  cursor: pointer;
}
.todo-list li .delete svg {
  width: 18px;
}
.delete-all {
  display: flex;
  justify-content: flex-end;
}
.delete-all button {
  background: var(--orange);
  color: var(--white);
  font-size: 1.2rem;
  padding: 1.2rem 2.8rem;
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.delete-all svg {
  width: 14px;
}
/*** checkbox css ***/
.todo-list input {
  display: none;
}

input + label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input + label:before {
  content: "";
  border: 1px solid #828282;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 0.7rem;
}

input:checked + label:before {
  border-color: var(--white);
  background: var(--blue)
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20" stroke="white" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>');
}

input.completed + label {
  text-decoration: line-through;
}

/*** tabs css ***/
.tabs {
  margin-bottom: 1.8rem;
  border-bottom: 1px solid var(--gray1);
  padding-bottom: 1.8rem;
  display: flex;
  justify-content: space-around;
}
ul.tabs li button {
  font-size: 14px;
  font-weight: 600;
  padding: 0 3.5rem;
  cursor: pointer;
  position: relative;
  border: 0;
  background: none;
}
ul.tabs li button.active:after {
  content: "";
  height: 4px;
  border-radius: 4px 4px 0px 0px;
  background: var(--blue);
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
}

/*** footer css ***/
footer {
  margin-bottom: 2rem;
  color: var(--gray2);
  font-size: 1.4rem;
  line-height: 1.7rem;
}
